.imagenFondo {

    margin: 0;
    padding: 0;
    height: 107vh;
    background-image: url('https://images3.alphacoders.com/118/1187753.png');
    background-size: cover;
  
}

.buttonback {
    font-family: monospace;
    font-size: 1rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 8px 18px;
    border-radius: 10px;
    border: 1px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    position: fixed;
    left: 10px;
    top: 10px;
    
}

.buttonback:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}
  

.buttoncreate {
    font-size: 1rem;
    padding: 1.2em 3.5em;
    background-color: #000;
    border: 3px solid yellow;
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px yellow;
    position: fixed;
    top: 20px;
    right: 50px;
}

.buttoncreate:hover {
    transform: translate(5px, -5px);
}


.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.statsAndTypes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    color: #ffffff;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60%;
    width: 30%;
    background-color: #aa9a5bcc;
    border-radius: 50px;
    padding: 1.5%;
    margin-top: 70px;
}

.stats h3 {
    color: #030303;
}

.typesOrder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

.inputBlock {
    position: relative;
    display: grid;
}

.inputBlock input {
    font-weight: 500;
}

.inputBlock span {
    margin: 5px 1;
    color: #111111;
    align-items: center;
}

/* Types buttons */

.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.types {
    height: 100%;
    background-color: #aa9a5bcc;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 2%;
    margin-top: 410px;
    
}

.types h3 {
    color: rgb(0, 0, 0);
}

ul {
    margin-block-start: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

ul.ksCboxtags li {
    margin: 0 5px;
}

ul.ksCboxtags li label {
    background-color: #FFCB05;
    border: 2px solid #FFA400;
    color: #020202;
    border-radius: 50px;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    cursor: pointer;
}

ul.ksCboxtags li label::before {
    content: '';
    width: 16px;
    height: 16px;
    background-color: #FFF;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    transform: rotate(45deg);
}

ul.ksCboxtags li input[type="checkbox"]:checked + label::before {
    background-color: #4CAF50;
    border-color: #45A049;
    transform: rotate(0);
}

ul.ksCboxtags li input[type="checkbox"]:checked + label {
    background-color: #9CCC65;
    border-color: #8BC34A
}