.img {
    position: absolute;
    top: 60px;
    left: 40px;
    width: 80%;
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.type{
    display: flex;
    font-size: 25px;
    color: #070707;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.type h5 {
    padding: 2px;
}

.name {
    font-size: 35px;
    color: #000000;
    text-decoration: none;
    text-shadow: bold;

}

.card {
 position: relative;
  width: 250px;
  height: 310px;
  background: #ffffffc5;
  border: solid 4px #333;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    opacity: 1;
    transition: opacity .3s 1s ease-in-out;
   scale: 1.05;
    box-shadow: 0px 0px #333;
}

.card:active {
    transform: translateY(-1px);
}